html, body {
	background: black !important;
}
*::-webkit-scrollbar,
*::-webkit-scrollbar-button,
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track-piece,
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-corner,
*::-webkit-resizer,
body *, body *:before, body *:after {
	-webkit-appearance: none !important;
	-webkit-border-image: none !important;
	border-color: rgba(255,255,255,0.1) !important;
	background: rgba(255,255,255,0.1) !important;
	color: transparent !important;
	-webkit-text-fill-color: transparent !important; 
	-webkit-text-stroke: 0 transparent !important;
	text-shadow: 0 0 0 transparent !important;
/*
	Rad mode:
	-webkit-box-shadow: 0 0 10px rgba(255, 255, 255, 0.2) !important;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.2) !important;
*/
}
img, input[type=image] {
	outline: 1px solid rgba(255,255,255,0.1) !important;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0))) !important;
}
::-webkit-input-placeholder {
   color: transparent !important;
}
